<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add expense</title>
  </head>
  <body>
    <h2>Add expense-item</h2>
    <form action="/add-expense" method="POST">
    <label for="title">Expense Title</label>
    <input type="text" name="title"></input>
     <label for="amount">Amount</label>
    <input name="amount" type="number"></input> 
    <label for="description">Description</label>
    <input name="description" type="text"></input> 
     <select name="category">
        <option value="food">Food</option>
        <option value="entertainment">Entertainment</option>      
        <option value="career">Career</option>   
        <option value="healthcare">Healthcare</option>  
        <option value="cosmetics">Cosmetics</option>  
        <option value="travel">Travel</option>        
        </select>
        <input type="hidden" value="<%= userMail %>" name="userMail"/>
    <button type="submit">Add Expense</button>
    </form>
  </body>
</html>
