<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit expense</title>
  </head>
  <body>
    <form action="/edit-expense" method="POST">
    <label>Expense Title</label>
    <input type="text" value="<%= expense.title %>"></input>
     <label>Amount</label>
    <input type="number" value="<%= expense.amount %>"></input> 
    <label >Description</label>
    <input type="text" value="<%= expense.description %>"></input> 
    <input type="hidden" value="<%= expense.id %>" name="expenseId" />
    <button type="submit">Submit</button>
    </form>
  </body>
</html>
